<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdcor.pip.web.common.dao.PipSysParameterMapper" >
  <resultMap id="BaseResultMap" type="com.bdcor.pip.web.common.domain.PipSysParameter" >
    <id column="PARAMETER_ID" property="parameterId" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="VALUE" property="value" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="DECIMAL" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="VARCHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL" />
    <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
    <result column="PARATYPE_ID" property="paratypeId" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="HELP_CODE" property="helpCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARAMETER_ID, TYPE, VALUE, IS_VALID, IS_DEFAULT, SEQUENCE, PARENT_CODE, CREATE_BY, 
    CREATE_DATE, UPDATE_BY, UPDATE_DATE, PARATYPE_ID, VERSION, CODE, HELP_CODE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bdcor.pip.web.common.domain.PipSysParameterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PIP_SYS_PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PIP_SYS_PARAMETER
    where PARAMETER_ID = #{parameterId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PIP_SYS_PARAMETER
    where PARAMETER_ID = #{parameterId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.bdcor.pip.web.common.domain.PipSysParameterExample" >
    delete from PIP_SYS_PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bdcor.pip.web.common.domain.PipSysParameter" >
    insert into PIP_SYS_PARAMETER (PARAMETER_ID, TYPE, VALUE, 
      IS_VALID, IS_DEFAULT, SEQUENCE, 
      PARENT_CODE, CREATE_BY, CREATE_DATE, 
      UPDATE_BY, UPDATE_DATE, PARATYPE_ID, 
      VERSION, CODE, HELP_CODE, 
      REMARK)
    values (#{parameterId,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=DECIMAL}, #{isDefault,jdbcType=VARCHAR}, #{sequence,jdbcType=DECIMAL}, 
      #{parentCode,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, #{paratypeId,jdbcType=DECIMAL}, 
      #{version,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{helpCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bdcor.pip.web.common.domain.PipSysParameter" >
    insert into PIP_SYS_PARAMETER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parameterId != null" >
        PARAMETER_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="value != null" >
        VALUE,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT,
      </if>
      <if test="sequence != null" >
        SEQUENCE,
      </if>
      <if test="parentCode != null" >
        PARENT_CODE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="paratypeId != null" >
        PARATYPE_ID,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="helpCode != null" >
        HELP_CODE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parameterId != null" >
        #{parameterId,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=DECIMAL},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="paratypeId != null" >
        #{paratypeId,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpCode != null" >
        #{helpCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bdcor.pip.web.common.domain.PipSysParameterExample" resultType="java.lang.Integer" >
    select count(*) from PIP_SYS_PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PIP_SYS_PARAMETER
    <set >
      <if test="record.parameterId != null" >
        PARAMETER_ID = #{record.parameterId,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        VALUE = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.isValid != null" >
        IS_VALID = #{record.isValid,jdbcType=DECIMAL},
      </if>
      <if test="record.isDefault != null" >
        IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.sequence != null" >
        SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
      </if>
      <if test="record.parentCode != null" >
        PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.paratypeId != null" >
        PARATYPE_ID = #{record.paratypeId,jdbcType=DECIMAL},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=DECIMAL},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.helpCode != null" >
        HELP_CODE = #{record.helpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PIP_SYS_PARAMETER
    set PARAMETER_ID = #{record.parameterId,jdbcType=DECIMAL},
      TYPE = #{record.type,jdbcType=VARCHAR},
      VALUE = #{record.value,jdbcType=VARCHAR},
      IS_VALID = #{record.isValid,jdbcType=DECIMAL},
      IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
      SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
      PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=DATE},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      PARATYPE_ID = #{record.paratypeId,jdbcType=DECIMAL},
      VERSION = #{record.version,jdbcType=DECIMAL},
      CODE = #{record.code,jdbcType=VARCHAR},
      HELP_CODE = #{record.helpCode,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdcor.pip.web.common.domain.PipSysParameter" >
    update PIP_SYS_PARAMETER
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=DECIMAL},
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        SEQUENCE = #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="parentCode != null" >
        PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
      <if test="paratypeId != null" >
        PARATYPE_ID = #{paratypeId,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpCode != null" >
        HELP_CODE = #{helpCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAMETER_ID = #{parameterId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdcor.pip.web.common.domain.PipSysParameter" >
    update PIP_SYS_PARAMETER
    set TYPE = #{type,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=DECIMAL},
      IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      SEQUENCE = #{sequence,jdbcType=DECIMAL},
      PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE},
      PARATYPE_ID = #{paratypeId,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      HELP_CODE = #{helpCode,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where PARAMETER_ID = #{parameterId,jdbcType=DECIMAL}
  </update>
</mapper>