<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdcor.pip.web.fee.dao.PipActualRegMapper" >
  <resultMap id="BaseResultMap" type="com.bdcor.pip.web.fee.domain.PipActualReg" > 
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="PROJECTID" property="projectid" jdbcType="VARCHAR" />
    <result column="LCCID" property="lccid" jdbcType="VARCHAR" />
    <result column="PROJECT_NAME" property="project_name" jdbcType="VARCHAR" />
    <result column="LCC_NAME" property="lcc_name" jdbcType="VARCHAR" />
    <result column="ACTUAL_COST" property="actualCost" jdbcType="DECIMAL" />
    <result column="COST_DATE" property="costDate" jdbcType="TIMESTAMP" />
    <result column="SUBMITTER" property="submitter" jdbcType="VARCHAR" />
    <result column="INPUTIME" property="inputime" jdbcType="TIMESTAMP" />
    <result column="FEE_TYPE" property="fee_type" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
       id, PROJECTID, LCCID, ACTUAL_COST, COST_DATE, SUBMITTER, INPUTIME,PROJECT_NAME,LCC_NAME,FEE_TYPE
  </sql>
  
  
  <select id="list" resultMap="BaseResultMap" parameterType="com.bdcor.pip.web.fee.filter.FeeLccRegFilter" >
    select
        r.id, r.PROJECTID, r.LCCID, r.ACTUAL_COST, r.COST_DATE, r.SUBMITTER, r.INPUTIME,r.PROJECT_NAME,r.LCC_NAME,t.NAME  as FEE_TYPE
    from PIP_FEE_ACTUAL_REG r left join  PIP_FEE_ACTUAL_TYPE t on r.FEE_TYPE=t.ID
    
    where 1=1 
    <if test="bg_date != null" >
        <!-- and COST_DATE >=  #{bg_date,jdbcType=TIMESTAMP} -->
        <![CDATA[  and r.COST_DATE >= #{bg_date}]]>
    </if>
    <if test="end_date != null" > 
        <!-- and COST_DATE <=  #{end_date,jdbcType=TIMESTAMP} -->
        <![CDATA[  and r.COST_DATE <= #{end_date}]]>
    </if>
    <if test="lcc_code != null" >
        and r.LCCID in ${lcc_code} 
    </if>
    <if test="projectid != null" >
        and PROJECTID = #{projectid,jdbcType=VARCHAR}
    </if>
    <if test="sidx != null ">
            order by  r.${sidx}
            <if test="sord!=null and sord!= ''">
                ${sord}
            </if> 
    </if> 
   
 </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PIP_FEE_ACTUAL_REG
    where id = #{id,jdbcType=VARCHAR}
  </select> 
  <delete id="delete" parameterType="java.lang.String" >
    delete from PIP_FEE_ACTUAL_REG
    where id = #{id,jdbcType=VARCHAR}
  </delete>  
  
   <!--<insert id="save" parameterType="com.bdcor.pip.web.fee.domain.PipActualReg" >
   
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    
    insert into PIP_FEE_ACTUAL_REG (id, PROJECTID, LCCID, 
      ACTUAL_COST, COST_DATE, SUBMITTER, 
      INPUTIME)
    values (#{id,jdbcType=VARCHAR}, #{projectid,jdbcType=VARCHAR}, #{lccid,jdbcType=VARCHAR}, 
      #{actualCost,jdbcType=DECIMAL}, #{costDate,jdbcType=TIMESTAMP}, #{submitter,jdbcType=VARCHAR}, 
      #{inputime,jdbcType=TIMESTAMP})
  </insert> -->  
  <insert id="save" parameterType="com.bdcor.pip.web.fee.domain.PipActualReg" >
    
    insert into PIP_FEE_ACTUAL_REG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectid != null" >
        PROJECTID,
      </if>
      <if test="lccid != null" >
        LCCID,
      </if>
      <if test="actualCost != null" >
        ACTUAL_COST,
      </if>
      <if test="costDate != null" >
        COST_DATE,
      </if>
      <if test="submitter != null" >
        SUBMITTER,
      </if>
      <if test="inputime != null" >
        INPUTIME,
      </if>
      <if test="project_name != null" >
        PROJECT_NAME,
      </if>
      <if test="lcc_name != null" >
        LCC_NAME,
      </if>
      <if test="fee_type != null" >
        FEE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="lccid != null" >
        #{lccid,jdbcType=VARCHAR},
      </if>
      <if test="actualCost != null" >
        #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="costDate != null" >
        #{costDate,jdbcType=TIMESTAMP},
      </if>
      <if test="submitter != null" >
        #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="inputime != null" >
        #{inputime,jdbcType=TIMESTAMP},
      </if>
      <if test="project_name != null" >
        #{project_name,jdbcType=VARCHAR},
      </if>
      <if test="lcc_name != null" >
        #{lcc_name,jdbcType=VARCHAR},
      </if> 
      <if test="fee_type != null" >
        #{fee_type,jdbcType=VARCHAR},
      </if> 
      
    </trim>
  </insert> 
  <select id="countByExample" parameterType="com.bdcor.pip.web.fee.domain.PipActualRegExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from PIP_FEE_ACTUAL_REG
    
  </select>
  <update id="update" parameterType="com.bdcor.pip.web.fee.domain.PipActualReg" >
    
    update PIP_FEE_ACTUAL_REG
    <set >
      
      <if test="record.projectid != null" >
        PROJECTID = #{record.projectid,jdbcType=VARCHAR},
      </if>
      <if test="record.lccid != null" >
        LCCID = #{record.lccid,jdbcType=VARCHAR},
      </if>
      <if test="record.actualCost != null" >
        ACTUAL_COST = #{record.actualCost,jdbcType=DECIMAL},
      </if>
      <if test="record.costDate != null" >
        COST_DATE = #{record.costDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitter != null" >
        SUBMITTER = #{record.submitter,jdbcType=VARCHAR},
      </if>
      <if test="record.inputime != null" >
        INPUTIME = #{record.inputime,jdbcType=TIMESTAMP},
      </if>
       <if test="record.project_name != null" >
        PROJECT_NAME = #{record.project_name,jdbcType=VARCHAR},
      </if>
      <if test="record.lcc_name != null" >
        LCC_NAME = #{record.lcc_name,jdbcType=VARCHAR},
      </if> 
      <if test="record.fee_type != null" >
        FEE_TYPE = #{record.fee_type,jdbcType=VARCHAR},
      </if>    
    </set> 
    where  id = #{record.id,jdbcType=VARCHAR} 
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update PIP_FEE_ACTUAL_REG
    set id = #{record.id,jdbcType=VARCHAR},
      PROJECTID = #{record.projectid,jdbcType=VARCHAR},
      LCCID = #{record.lccid,jdbcType=VARCHAR},
      ACTUAL_COST = #{record.actualCost,jdbcType=DECIMAL},
      COST_DATE = #{record.costDate,jdbcType=TIMESTAMP},
      SUBMITTER = #{record.submitter,jdbcType=VARCHAR},
      INPUTIME = #{record.inputime,jdbcType=TIMESTAMP} 
    
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdcor.pip.web.fee.domain.PipActualReg" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update PIP_FEE_ACTUAL_REG
    <set >
      <if test="projectid != null" >
        PROJECTID = #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="lccid != null" >
        LCCID = #{lccid,jdbcType=VARCHAR},
      </if>
      <if test="actualCost != null" >
        ACTUAL_COST = #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="costDate != null" >
        COST_DATE = #{costDate,jdbcType=TIMESTAMP},
      </if>
      <if test="submitter != null" >
        SUBMITTER = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="inputime != null" >
        INPUTIME = #{inputime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdcor.pip.web.fee.domain.PipActualReg" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update PIP_FEE_ACTUAL_REG
    set PROJECTID = #{projectid,jdbcType=VARCHAR},
      LCCID = #{lccid,jdbcType=VARCHAR},
      ACTUAL_COST = #{actualCost,jdbcType=DECIMAL},
      COST_DATE = #{costDate,jdbcType=TIMESTAMP},
      SUBMITTER = #{submitter,jdbcType=VARCHAR},
      INPUTIME = #{inputime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>