<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/cp3_web/web.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="jdbc.audit" level="ERROR"/>
	<logger name="jdbc.resultset" level="ERROR"/>

	<!-- druid  -->
	<!-- 配置只输出sql语句  druid.sql 下面包含有其他如 Connection,ResultSet -->
	<logger name="druid.sql.Statement" level="DEBUG">
		<appender-ref ref="console"></appender-ref>
	</logger>
	<logger name="druid.sql.ResultSet" level="ERROR">
		<appender-ref ref="console"></appender-ref>
	</logger>


    <!--<appender name="stash" class="net.logstash.logback.appender.LogstashSocketAppender">-->
    <!--<host>10.24.10.225</host>-->
    <!--&lt;!&ndash; port is optional (default value shown) &ndash;&gt;-->
    <!--<port>514</port>-->
    <!--<customFields>{"appname":"cp3"}</customFields>-->
    <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
    <!--<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
    <!--<exclude>sun\.reflect\..*\.invoke.*</exclude>-->
    <!--<exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>-->
    <!--<exclude>org.*</exclude>-->
    <!--<rootCauseFirst>true</rootCauseFirst>-->
    <!--</throwableConverter>-->
    <!--</encoder>-->
    <!--</appender>-->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
        <!--<appender-ref ref="stash"/>-->
    </root>


    <appender name="msg" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/msg/msg.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.bdcor.pip.web.msg.service.impl.MsgRuleServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="msg" />
    </logger>
</configuration>