<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdcor.pip.web.material.supp.dao.PipMmsImscmmasterMapper" >
  <resultMap id="BaseResultMap" type="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="IMORDER_NO" property="imorderNo" jdbcType="VARCHAR" />
    <result column="ACTIVECLASS_CODE" property="activeclassCode" jdbcType="VARCHAR" />
    <result column="LCC_CODE" property="lccCode" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="IS_REMOVED" property="isRemoved" jdbcType="DECIMAL" />
    <result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CODE" property="supplierCode" jdbcType="VARCHAR" />
    <result column="IMPORT_STATE" property="importState" jdbcType="DECIMAL" />
    <result column="LCC_NAME" property="lccName" jdbcType="VARCHAR"/>
    <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR"  />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PROJECT_ID, IMORDER_NO, ACTIVECLASS_CODE, LCC_CODE, USER_CODE, USER_NAME, CREATE_DATE, 
    CREATE_BY, IS_REMOVED, STOCK_CODE, SUPPLIER_CODE, IMPORT_STATE
  </sql>
  <select id="selectByFilter" resultMap="BaseResultMap" parameterType="com.bdcor.pip.web.material.supp.filter.PipMmsImscmmasterFilter" >
  	select
    t.*,l.lcc_name,d.stock_name
    from 
    	PIP_MMS_IMSCMMASTER t
    left join pip_comm_lcc l 
    	on l.project_id = t.project_id 
    	and l.lcc_code = t.lcc_code
    left join PIP_MMS_DEFSTOREHOUSE d 
    	on d.project_id = t.project_id
    	and d.stock_code = t.stock_code  
    where 1=1
    and t.lcc_code in (select lcc_code from pip_sys_user_data_limit  lt where lt.user_id = #{userId})
    <if test="projectId !=null">
    	AND t.PROJECT_ID =#{projectId,jdbcType=VARCHAR}
    </if>
    <if test="imorderNo !=null">
     	AND t.IMORDER_NO like '%${imorderNo}%'
    </if>
    <if test="startDate !=null">
    	AND t.CREATE_DATE >=#{startDate}
    </if>
    <if test="endDate !=null">
    	AND to_char(t.CREATE_DATE,'yyyy-MM-dd') <![CDATA[<=]]> to_char(#{endDate},'yyyy-MM-dd')
    </if>
    order by t.IMORDER_NO desc
  </select>
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmasterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PIP_MMS_IMSCMMASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from PIP_MMS_IMSCMMASTER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from PIP_MMS_IMSCMMASTER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmasterExample" >
    delete from PIP_MMS_IMSCMMASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
     select PIP_MMS_MATERL_ORDER_SEQ.nextval from dual
    </selectKey>
    insert into PIP_MMS_IMSCMMASTER (ID, PROJECT_ID, IMORDER_NO, 
      ACTIVECLASS_CODE, LCC_CODE, USER_CODE, 
      USER_NAME, CREATE_DATE, CREATE_BY, 
      IS_REMOVED, STOCK_CODE, SUPPLIER_CODE, 
      IMPORT_STATE)
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{imorderNo,jdbcType=VARCHAR}, 
      #{activeclassCode,jdbcType=VARCHAR}, #{lccCode,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{isRemoved,jdbcType=DECIMAL}, #{stockCode,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, 
      #{importState,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
     select PIP_MMS_MATERL_ORDER_SEQ.nextval from dual
    </selectKey>
    insert into PIP_MMS_IMSCMMASTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="imorderNo != null" >
        IMORDER_NO,
      </if>
      <if test="activeclassCode != null" >
        ACTIVECLASS_CODE,
      </if>
      <if test="lccCode != null" >
        LCC_CODE,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="isRemoved != null" >
        IS_REMOVED,
      </if>
      <if test="stockCode != null" >
        STOCK_CODE,
      </if>
      <if test="supplierCode != null" >
        SUPPLIER_CODE,
      </if>
      <if test="importState != null" >
        IMPORT_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="imorderNo != null" >
        #{imorderNo,jdbcType=VARCHAR},
      </if>
      <if test="activeclassCode != null" >
        #{activeclassCode,jdbcType=VARCHAR},
      </if>
      <if test="lccCode != null" >
        #{lccCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isRemoved != null" >
        #{isRemoved,jdbcType=DECIMAL},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="importState != null" >
        #{importState,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmasterExample" resultType="java.lang.Integer" >
    select count(*) from PIP_MMS_IMSCMMASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
    <select id="insertIfExit" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" resultType="java.lang.Integer" >
    select count(*) from PIP_MMS_IMSCMMASTER
    where 1=1 
    and project_Id=#{projectId,jdbcType=VARCHAR}
    and imorder_No=#{imorderNo,jdbcType=VARCHAR}
  </select>
  
 
  
  <update id="updateByExampleSelective" parameterType="map" >
    update PIP_MMS_IMSCMMASTER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.imorderNo != null" >
        IMORDER_NO = #{record.imorderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.activeclassCode != null" >
        ACTIVECLASS_CODE = #{record.activeclassCode,jdbcType=VARCHAR},
      </if>
      <if test="record.lccCode != null" >
        LCC_CODE = #{record.lccCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userCode != null" >
        USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isRemoved != null" >
        IS_REMOVED = #{record.isRemoved,jdbcType=DECIMAL},
      </if>
      <if test="record.stockCode != null" >
        STOCK_CODE = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierCode != null" >
        SUPPLIER_CODE = #{record.supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.importState != null" >
        IMPORT_STATE = #{record.importState,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PIP_MMS_IMSCMMASTER
    set ID = #{record.id,jdbcType=VARCHAR},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      IMORDER_NO = #{record.imorderNo,jdbcType=VARCHAR},
      ACTIVECLASS_CODE = #{record.activeclassCode,jdbcType=VARCHAR},
      LCC_CODE = #{record.lccCode,jdbcType=VARCHAR},
      USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      IS_REMOVED = #{record.isRemoved,jdbcType=DECIMAL},
      STOCK_CODE = #{record.stockCode,jdbcType=VARCHAR},
      SUPPLIER_CODE = #{record.supplierCode,jdbcType=VARCHAR},
      IMPORT_STATE = #{record.importState,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" >
    update PIP_MMS_IMSCMMASTER
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="imorderNo != null" >
        IMORDER_NO = #{imorderNo,jdbcType=VARCHAR},
      </if>
      <if test="activeclassCode != null" >
        ACTIVECLASS_CODE = #{activeclassCode,jdbcType=VARCHAR},
      </if>
      <if test="lccCode != null" >
        LCC_CODE = #{lccCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isRemoved != null" >
        IS_REMOVED = #{isRemoved,jdbcType=DECIMAL},
      </if>
      <if test="stockCode != null" >
        STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="importState != null" >
        IMPORT_STATE = #{importState,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdcor.pip.web.material.supp.domain.PipMmsImscmmaster" >
    update PIP_MMS_IMSCMMASTER
    set PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      IMORDER_NO = #{imorderNo,jdbcType=VARCHAR},
      ACTIVECLASS_CODE = #{activeclassCode,jdbcType=VARCHAR},
      LCC_CODE = #{lccCode,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      IS_REMOVED = #{isRemoved,jdbcType=DECIMAL},
      STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      IMPORT_STATE = #{importState,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>